/*
#3B3B3B
#D12FFF
*/
.atividades{
    background-color: #272727;
    padding: 100px;
    height: 250vh;
    color: white;
}
.box-left{
    float: left;
}
.box-right{
    float: right;
}

/*BOXs*/
.img-box-left{
    display: flex;
    float: left;
    background-color: #D12FFF;
    width: 400px;
    height: 200px;
    margin-right: 50px;
   
}
.conteudo-box-left{
    display: block;
    
    
}

.img-box-right{
    display: flex;
    float: right;
    background-color: #D12FFF;
    width: 400px;
    height: 200px;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.conteudo-box-right{
    display: block;
    margin-top: 65px;
    
}