/*
#3B3B3B
#D12FFF
*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.sobre{
    background-color: #3B3B3B;
    padding: 100px;
    
    height: 50vh;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.box-conteudo{
    color: white;
    margin-top: -25px;
    padding-right: 100px;
    margin-left: 60px;
}


.box-conteudo h3:nth-child(1){
    line-height: 1.5;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    
}

.bg-img{
    background-color: #D12FFF;
    width: 250px;
    height: 250px;
    margin-right: 60px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}