@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/*IMPORTAR FONTE FINA*/

.header{
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    width: 100%;
    position: fixed;
    
   
    /*box-shadow: 10px 10px 10px white;*/
}
.logotipo{
    color: white;
    float: left;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 100;
    font-size: 24px;
}
.menu-header{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menu-header li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    color: rgb(212, 212, 212);
    
}
.menu-header li:hover{
    cursor: pointer;
    opacity: 0.7;
}