body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
        OBSERVAÇÃO
  ARRUMAR PALHETA DE CORES
*/

/*HEADER*/
header{
  display: flex;

  padding: 10px;
  background-color: rgb(81, 78, 78);
  
  justify-content: space-around;
  box-shadow: 1px 1px 10px black;
}

.logotipo{
  font-family: sans-serif;
  float: left;

  color: white;

}



.header-menu ul{
  list-style: none;
  
}

.header-menu li{
  display: inline-block;
  color: white;
  padding: 4px;
  
}

.header-menu li:hover{
  cursor: pointer;
  opacity: 0.7;
}





/*SOBRE*/


/*EXPERIENCIAS*/


/*PROJETOS*/


/*CONTATO*/