
.experiencias{
    background-color: #3B3B3B;
    width: 100%;
    height: 500px;
    padding-top: 10px;
}
.sub-titulo{
    font-size: 28px;
    text-align: center;
}

.prova-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box-prova-social{
    background-color: white;
    width: 400px;
    height: 200px;
}

.experiencias-text{
    display: flex;
    color: white;
    text-align: center;
    justify-content: space-around;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
}